@font-face {
  font-family: 'Geometria-Medium';
  src: url(fonts/Geometria-Medium.woff);
}
@font-face {
  font-family: 'Geometria';
  src: url(fonts/Geometria.woff);
}
@font-face {
  font-family: 'Geometria-Bold';
  src: url(fonts/Geometria-Bold.woff);
}
@font-face {
  font-family: 'Geometria-Heavy';
  src: url(fonts/Geometria-Heavy.woff);
}
