@import "reset.css";
@import "fonts.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.cover {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #00FF38;
  border:23px solid #9000EB;
  padding: 47px;
  color: #FF0099;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cover_way-container {
  position: absolute;
  margin: -70px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.cover_way-container .violet-way {
  height: 100vh;
  width: auto;
}
.cover_way-container .violet-way path{
  stroke-width: 60px;
}
.cover_top-part {
  font-family: 'Geometria-Heavy', sans-serif;
  font-size: 235px;
  line-height: 89.9%;
}
.cover_top-part .header {
  font-family: 'Geometria-Medium', sans-serif;
  font-size: 41px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  line-height: normal;
}
.cover_bottom-part {
  font-family: 'Geometria-Bold', sans-serif;
  font-size: 96px;
}
.cover_bottom-part p {
  margin-bottom: 18px;
}
.cover_bottom-part p:nth-of-type(3) {
  margin-bottom: 0;
}
.cover_top-part,
.cover_bottom-part {
  z-index: 1;
}

@media (min-width: 768px){
  .cover {
    border-width: 11px;
    padding: 35px;
  }
  .cover_way-container {
    margin: -46px;
  }
  .cover_way-container .violet-way path{
    stroke-width: 41px;
  }
  .cover_top-part {
    font-size: 222px;
  }
  .cover_top-part .header {
    font-size: 31px;
    margin-bottom: 6px;
  }
  .cover_bottom-part {
    font-size: 76px;
  }
  .cover_bottom-part p {
    margin-bottom: 8px;
  }
}
